/* Estilos personalizados */

body {
  /* Cor de fundo preta com 50% de transparência */
  background-color: #00000034;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

h1 {
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  margin: 10px 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
p {
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #000000;
}

p.info {
  font-size: 12px;
}

p.info1 {
  font-size: 12px;
}

.top-rectangle {
  background-color: #000000;
  padding: 2px;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 25px;
  overflow: hidden;
  /* Para esconder o texto que ultrapassa os limites do retângulo */
}

.top-rectangle p {
  font-weight: 600;
  font-size: 14px;
  padding: 1px;
  color: #ffffff;
}

.top-rectangle p {
  white-space: nowrap;
  /* Para que o texto não quebre a linha */
  animation: slide-text 10s linear infinite;
  /* Definindo a animação com duração de 10 segundos e repetição infinita */
}

@keyframes slide-text {
  from {
    transform: translateX(100%);
    /* Começa fora da tela à direita */
  }

  to {
    transform: translateX(-100%);
    /* Termina fora da tela à esquerda */
  }
}

.logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: auto;
  align-items: center;
  display: flex;
  margin-bottom: 15px;
  margin-top: 35px;
}

.footer p {
  text-align: center;
  color: #ffffff;
  font-size: 14px;
  background-color: #000000;
  font-weight: 700;
  position: fixed;
  margin-bottom: 0;
  bottom: 0;
  left: auto;
  right: auto;
  width: 100%;
  height: auto;
  padding: 3px;
  z-index: 999;
}

.footer img {
  width: 15px;
  height: 15px;
  margin: 5px 10px;
  filter: invert(1);
  /* Inverta a cor do ícone para branco */
}

#resultado {
  margin-top: 10px;
  color: #000000;
  margin-left: 10px;
  font-weight: 600;
  margin-bottom: 40px;
}

input {
  width: 100%;
  height: 30px;
  padding: 3px;
  border: solid 3px #ffd900;
  box-shadow: inset 0 -3;
  margin: 2px;
  border-radius: 5px;
}

label {
  display: auto;
  width: 150px;
  padding-right: 10px;
  margin-bottom: 15px;
}

.card-header {
  background-color: rgba(31, 31, 31, 0.541);
  text-align: center;
  font-size: large;
  font-family: "Arial", sans-serif;
  width: 100%;
  height: 35px;
  border-radius: 7%;
  position: relative;
  align-items: auto;
}

#subir {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 9999;
  background-color: #00000000;
  border-color: solid 2px #000000;
  margin-bottom: 35px;
  margin-left: 20px;
  margin-right: 10px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

#subir img {
  width: 50px;
  height: 50px;
}

.iphone-14-pro-max-1 .grupo-1-BDCMQH {
  background-color: transparent;
  height: 50px;
  position: relative;
  top: 25px;
  width: 100%;
  left: 4px;
  display: auto;
}

.iphone-14-pro-max-1 {
  /* Assuming this is the parent container */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px; /* Set a height for the parent if needed */
}

.grupo-1-BDCMQH {
  /* Remove unnecessary properties */
  background-color: transparent;
  height: 50px;
  width: 100%;
}

.iphone-14-pro-max-1 .retngulo-1-8weMWt {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: inset 5px 5px 12px #00000073;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}

.iphone-14-pro-max-1 .casa-8weMWt {
  background-color: transparent;
  height: 30px;
  left: 27px;
  top: 10px;
  filter: invert(0);
  position: absolute;
  width: 30px;
}

.iphone-14-pro-max-1 .github-8weMWt {
  background-color: transparent;
  height: 30px;
  left: calc(35.48% - 19px);
  filter: invert(0);
  position: absolute;
  top: 10px;
  width: 30px;
}

.iphone-14-pro-max-1 .instagram-8weMWt {
  background-color: transparent;
  bottom: 10px;
  height: 30px;
  filter: invert(0);
  position: absolute;
  right: calc(36.24% - 1px);
  width: 30px;
}

.iphone-14-pro-max-1 .whatsapp-8weMWt {
  background-color: transparent;
  height: 30px;
  filter: invert(0);
  position: absolute;
  right: 31px;
  top: 11px;
  width: 30px;
}

/* Estilo geral da pop-up */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.541);
  z-index: 9999;
}

.modal-content {
  background-color: #ffffffd3;
  margin: 10% auto;
  padding: 2px;
  border: 5px solid #00000028;
  width: 400px; /* Ajuste a largura conforme necessário */
}

/* Fechar pop-up */
.close {
  color: #ff0000;
  float: right;
  font-size: 28px;
  font-weight: bold;
  background-color: transparent;
  border-color: transparent;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.btn-style {
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-color: #ffffff;
  border-radius: 30px;
  box-shadow: inset 5px 5px 12px #00000073;
  color: #000000;
  font-weight: 600;
}

.card-body {
  background-color: #ffffff67;
  height: auto;
  margin-bottom: 0px;
}

.card-body h1 {
  color: #ff0000;
  font-weight: 900;
}

.row {
  margin-bottom: 0px;
}

.form-control {
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  padding: 2px;
  margin: auto;
  box-shadow: inset 3px 3px 9px #00000073;
}
